{% extends 'base.html.twig' %}
{% block body %}

<div class="row">
<div class="col-1">

</div>
<div class="col-4">
<h2 class="page-header">Editar Finca</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>
<div class="col-7">

</div>

</div>
{% endblock %}
