{% extends 'base.html.twig' %}
{% block body %}
<h2>Id: {{producto.id}}</h2>
<h2>Nombre: {{producto.nombre}}</h2>
<h2>Año: {{producto.year}}</h2>
<h1><a href='{{ path('producto_index')}}'>Volver al inicio</a></h1>
{% endblock %}
