{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-4">

</div>
<div class="col-4">

<h1>ESTAMOS DONDE ESTAMOS</h1>
<hr>
<h1>{{ano}}  {{fecha|date('d-m-Y')}}  {{entidad}}</h1>

</div>
<div class="col-4">

</div>
</div>

{% endblock %}
