{% extends 'base.html.twig' %}
{% block body %}
<div class=”col-lg-8 box-form”>
<br>
<h2 class="page-header">Selecciona nueva cuadrilla:</h2>

{{form_start(form)}}
  <fieldset>
  <br>
  <strong>{{ form_label(form.cuadrilla) }}</strong><br>
  <span>{{ form_widget(form.cuadrilla) }}</span>
  </div><br>
  </fieldset>
{{ form_end(form) }}
</div>
{% endblock %}
